!----------------------------------------------------
! color settings
!----------------------------------------------------

#include "/home/siddharth/.config/termcolors/hybrid_vim"

!---------------------------------------------------
! urxvt config settings
!---------------------------------------------------

URxvt*geometry:         80x21

! URxvt*font:              xft:dejavu sans mono for powerline:size=8:antialias=false:hinting=false:autohint=false
! URxvt*boldFont:          xft:dejavu sans mono for powerline:bold:size=8:antialias=false:hinting=false:autohint=false

URxvt*font:              xft:Ubuntu Mono derivative Powerline:regular:size=9.5:antialias=false:hinting=false:autohint=false
URxvt*boldFont:          xft:Ubuntu Mono derivative Powerline:bold:size=9.5:antialias=false:hinting=false:autohint=false

! URxvt*font:              -xos4-terminesspowerline-medium-r-normal--12-120-72-72-c-60-iso10646-1
! URxvt*boldFont:          -xos4-terminesspowerline-bold-r-normal--12-120-72-72-c-60-iso10646-1

URxvt*letterSpace: -1
URxvt.savelines:        500
URxvt*scrollBar:        false

! do not scroll with output
URxvt*scrollTtyOutput:  false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! clipboard management
URxvt.perl-ext-common:  default,clipboard
URxvt.keysym.M-c:   perl:clipboard:copy
URxvt.keysym.M-v:   perl:clipboard:paste

!---------------------------------------------------
! Font Rendering
!---------------------------------------------------
Xft.dpi: 96
Xft.antialias: 1
Xft.rgba: rgb
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hinting: 1
Xft.hintstyle: hintfull

! dzen2
dzen2.font:       -lucy-tewi-medium-r-normal--11-90-75-75-p-58-iso10646-1
dzen2.foreground: #a0a0a0
dzen2.background: #262626

